# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
.venv/
venv/
ENV/
*.env
*.egg-info/
dist/
build/

# IDEs/editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project-specific
products.json
config.json
chrome-profile/
